body { scroll-behavior: smooth; }

.hero {
      background: linear-gradient(to right, #0d6efd, #0a58ca);
      color: #fff;
      padding: 120px 20px;
      text-align: center;
    }
    
 .section-padding { padding: 80px 0; }
 
 footer { background: #0d6efd; color: #fff; }

.navbar-brand {
  font-size: 16px;
}

.img1 {
  height: 60px;
}

.height {
  height: 360px;
}